* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.page1,
.page2,
.page3 {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    position: relative;
}
.clgname {
    position: absolute;
    top: 7%;
    left: 5%;
}
.p1center,
.p2center,
.p3center {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 30%;
}

.name,
.skillsheading {
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
}

.nameline {
    width: 50%;
    margin-top: 4%;
    height: 5px;
    background: linear-gradient(
        to right,
        tomato,
        rgba(255, 255, 255, 0.733),
        royalblue
    );
    border: none;
}
.bio {
    width: 30%;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 20%;
}
.contact {
    position: absolute;
    bottom: 20%;
    left: 0%;
    transform: rotate(-90deg);
}
.surname {
    -webkit-text-stroke: 2px grey;
    color: transparent;
}

.aboutskills {
    width: 40%;
    margin-top: 20px;
}
.p2whitebox,
.p3gradbox {
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    color: black;
    top: 0;
}
.p2greybox,
.p3quadbox {
    width: 50%;
    height: 50%;
    background-color: rgb(50, 50, 50);
    position: absolute;
    right: 0;
    bottom: 0;
}
.whitehead,
.greyhead {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 45px;
    font-weight: 900;
}
.whitedesc,
.greydesc {
    position: absolute;
    right: 10%;
    top: 13%;
    font-size: 18px;
    width: 30%;
}
.whitetools,
.greyclass {
    position: absolute;
    left: 10%;
    bottom: 10%;
    font-weight: 600;
    font-size: 20px;
}

.p3gradbox {
    background: linear-gradient(
        to right,
        rgb(255, 126, 103),
        rgb(90, 123, 222)
    );
    color: white;
}

.p3box {
    width: 50%;
    height: 50%;
    padding-top: 5%;
    padding-left: 5%;
    color: white;
}
.p3black {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
.p3white {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    color: black;
    right: 0;
}
.p3grey {
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
}
.p3silver {
    background-color: silver;
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
}
